.skewed-header{
   height: 400px; 
   position: relative;
   overflow: hidden;
}

.skewed-header >.header-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: skewY(-6deg);
    transform-origin: top left;
    filter: brightness(50%);
}

.skewed-header >.skewed-header-wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.skewed-header>.skewed-header-wrapper>.skewed-header-content{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 
  
  .skewed-header>.skewed-header-wrapper>.skewed-header-content >.heading-wrapper{
    background-color: #cea135;
    color: #11122b;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 150px;
    padding: 10px;
    text-align: center;
  }

 .page-container{ padding: 10px;
   justify-content: center;
    display: flex;
  }

 .page-container>.content-wrapper{
    width:1000px;
  }

  .page-container>.content-wrapper > #juice{
    width:350px;
    margin: 23px 40px 30px 0px;
    float: left;
    border :1px solid #cea135;
  }

  .spacer60{
    width: 100%;
    height: 60px;
  }
  
.page-container >.content-wrapper p{
line-height: 30px;
letter-spacing: 1px;

  }

  .squares-wrapper{
    display: flex;
    justify-content: center;
  }

  .squares-wrapper >.squares{
    width: 1000px;
  }

  .squares-wrapper >.squares >.square{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:-4px;
  }

  .square >.img-wrapper img{
    width: 100%;
    height: 400px;
    object-fit:cover;
  }

  .square >.square-text-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:30px;
    letter-spacing: 1px;
  }

  .square >.square-text-wrapper h1{
    color: #cea135;
    font-size: 25px;
  }
  
  .square >.square-text-wrapper p{
    font-size: 15px;
  }