.skewed-header{
    height: 400px; 
    position: relative;
    overflow: hidden;
 }
 
 .skewed-header >.header-bg{
     position: absolute;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background-repeat: no-repeat;
     background-size: 100%;
     transform: skewY(-6deg);
     transform-origin: top left;
     filter: brightness(50%);
 }
 
 .skewed-header >.skewed-header-wrapper{
     position: absolute;
     display: flex;
     justify-content: center;
     width: 100vw;
 }
 
 .skewed-header>.skewed-header-wrapper>.skewed-header-content{
     width: 1000px;
     display: flex;
     justify-content: space-between;
     align-items: center;
   } 
   
   .skewed-header>.skewed-header-wrapper>.skewed-header-content >.heading-wrapper{
     background-color: #cea135;
     color: #11122b;
     border-bottom-left-radius: 2px;
     border-bottom-right-radius: 2px;
     width: 150px;
     height:80px;
     padding:10px;
     text-align: center;
  
   }

   .form >.form-group{
    margin-top:30px ;
    margin-bottom: 30px;
    margin-left:30%;
   }

   .form input{
    font-size: 1.5rem;
    font-family: inherit;
    color:inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border-bottom: 3px solid #11122b;
    display:block;
    transition: all 0.3s;
    width:60%;
   justify-content: center;
   }

 
   .form input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0,0,0.1);
    border-bottom: 3px solid #cea135;
}

   .form textarea{
    font-size: 1.5rem;
    margin-top: 20px;
    width:68%;
    height: 250px;
    display: block;
    border-radius: 3px;
    border: 3px solid #11122b;
    font-family: inherit;
    color: inherit;
    transition: all 0.3s;
    padding: 1.5rem 2rem;
   }

   .form textarea:focus {
    outline: none;
    box-shadow: 0 2rem 2rem rgba(0, 0,0,0.1);
    border: 3px solid #cea135;
}


.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder{
  color:#11122b;
}


.form input:focus::-webkit-input-placeholder, .form textarea:focus::-webkit-input-placeholder{
  color:transparent;
}



   .btn{
    background-color: #cea135;
    border:1px solid #cea135;
    border-radius: 2px;
   color: #11122b;
   font-size: 1.25em;
   padding: 10px  25px;
   outline: none;
   transition: 0.3s;
   }


   .centered-btn-wrapper{
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
   }

    .btn:active{
      box-shadow: 5px 5px 30px  rgba(0, 0,  0, 0.4);

    }




   .form label{
    color:#cea135;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    visibility: hidden;
    opacity:0;

   }

 
   .form input:focus + label, .form textarea:focus + label{
    opacity:1;
    visibility: visible;
    transform: translateY(1rem);
}


