

.footer-section{
background-color:green;
 color:#cbcbcb;
 font-family:sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction:column;
  padding: 30px 20px;
  margin-bottom: 15px;
}


.footer-section h1{
color: #cbcbcb;
font-family: sans-serif;

}

.footer-section h3{
color: #cbcbcb;
font-family: sans-serif;
}

.contacts{
    padding-top:15px;
    text-align: center;
    color: #cbcbcb;
    font-family: sans-serif;
}
.time{
    color:#cea135;
    padding:15px;
}


.footer-section  .social-media-icons-wrapper{
display: flex;
  justify-content: center;
width:100%;
max-width: 1000px;
gap: 30px;

}

.footer-section .social-media-icons-wrapper a{
    color:#cbcbcb;
    font-size: 2em;
    transition: 0.5s;
  
    /* padding:10px 20px; */
}

.links-wrapper{
    display: flex;
    margin-top:10px;
    margin-bottom:10px;
    flex-wrap: wrap;
    justify-content: center;
     gap: 10px;
}

.footer-section .social-media-icons-wrapper a:hover{
    color:#cea135;
}

.footer-section .copyright-wrapper{
    color:#cbcbcb;
    font-size:15px;
    text-align: center;
    /* padding-top: 20px; */
}



@media (max-width: 768px) {
    .footer-section {
        text-align: center;
    }

    .links-wrapper {
        flex-direction: column;
        align-items: center;
    }
/* 
    .social-media-icons-wrapper {
        flex-direction: column;
        gap: 10px;
    }
 */

}